<mat-card class="create-card">
<div class="container-fluid mb-5">
  <h1>Edit Note</h1>
  <form #newnote="ngForm" (ngSubmit)="onSubmit()" novalidate>
<!--
    {{newnote.value | json}}

    <hr/>

    {{noteModel | json}}
 -->
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" name="id" [(ngModel)]="id">
    </div>

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="note.title">
    </div>

    <div class="form-group">
      <label>Body of Note</label>
      <input type="text" class="form-control" name="plainText" [(ngModel)]="note.plainText">
    </div>

    <div class="form-check mb-3">

        <input class="form-check-input" name="pinnedStatus" [(ngModel)]="note.pinnedStatus" type="checkbox">
        <label class="form-check-label">The Note should be Pinned? </label>
      </div>

    <div class="form-group">
      <label>Labels</label>
      <input type="text" class="form-control" name="labels" [(ngModel)]="note.labels">
    </div>


    <div class="form-group">
      <label>CheckList</label>
      <input type="text" class="form-control" name="checkList" [(ngModel)]="note.checkList">
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
</div>
</mat-card>
