<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <div class="takenotemodal">
   <button type="button" class="btn btn-primary  btn-lg" data-toggle="modal" data-target="#exampleModal">
     <h1 class="modalnote">Take a Note</h1>
   </button>
 </div> -->

 <div class="start-contents">
  <mat-card class="start-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <mat-card-title>Google Keep</mat-card-title> -->
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image class = "noteimg align-center" src="../../../post-it.png" alt="notes">
      <mat-card-content>
        <p>
            <button routerLink='/post/notes' class="btn btn-primary btn-block" style="margin: 80px 50px 5px 5px;" data-target="#exampleModal">Take a Note</button>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->

      </mat-card-actions>
    </mat-card>
  </div>






